# Final project

Assignment Instructions
The course project allows you to utilize the skills that you have learned in the course to develop and present an analysis of a large data set. You will be required to include specific analyses in your report and present the results to your colleagues. There will be a focus on using technology throughout the project.

Specific details of the course project:

You may choose data from any source. Choose an area that interests you. If you need ideas for finding data, do a Google search for "free data". Find a set of data that includes somewhere between 100 and 50,000 data points, with at least two quantitative variables and at least one categorical variable. From this data you are going to perform a series of statistical computations and present the findings to your peers by means of a technology presentation tool. The presentation will be recorded, and you will orally present your findings to the class. Your presentation will be uploaded to the forum so that your peers can review it. In addition, you will include a formal write-up of the findings that will be submitted in the class assignments folder. You will have the opportunity to be creative in how you present the findings from your data set, and we will be discussing online tools and tips/strategies for presenting data throughout the class. This course project is the culmination of the content that we cover during the course. The course project presentation accounts for 21% of the final course grade, and a rubric will be used to score your work. This course project will mirror the practice work that you will be completing in the forums each week, so it is a good idea to find your course project data set early on and complete the required components as we practice them each week.

Important: Please do not use summarized data; use raw data. Summarized data includes variables that have already been averaged, or otherwise summarized. It is difficult to do meaningful statistical work on summarized data, and in a sense a lot of the work has already been done for you. When looking at a table of raw data, each row represents a single observation, while with summarized data, a row represents averages and counts from one category of the data. For example, a table of average incomes and populations by state is summary data, while a table with gender, heart rate, and age for a number of individuals would be an example of raw data. 

In your presentation, you will be required to show the following:

Describe the nature of the data. What do the data represent? Why did you choose this data set? How many data points are included?
Describe the types of variables, the type of sample, possible lurking variables, and any possible association or causation.
Create a histogram of your quantitative variable(s), describe the shape of the distribution, and find the mean and median.
Compute the standard deviation, the five number summary, and the range and interquartile range. Provide a visual representation of this information.
Find possible outliers (there may be none, but you will need to show how you determined that), draw a boxplot, create a scatterplot, and compute the sample correlation r.
If you found a moderate to strong linear relation between variables, compute the regression equation and describe how you could use a regression line to make predictions.
Conclude with a summary of the major findings. How have these findings informed the topic, and what are the implications of the findings?
In the presentation you do not need to show each step of the computations for every statistic. You will, however, be required to show the work in the write-up.

Please be advised that Sakai has file size limitations. If you have a large media file, you may want to upload it to YouTube and link it through the Assignments tab.

## Dataset

I found my dataset 

It is not practical to store the data in Github, so I load it into the container via the Makefile.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from math import sqrt
from IPython.display import display

df = pd.read_csv("/data/neo.csv")
df.head()
# a [au] semi-major axis
# e eccentricity
# i [deg] inclination
# w [deg] perihelion degree
# om [deg] node degree (longitude of the ascending node)
# ma [deg] M mean anomaly degree
# q [au] perihelion distance
# ad [au] Q aphelion distance
# per_y period years
# H
# moid [au] Earth MOID

,full_name,a,e,i,w,om,ma,q,ad,per_y,H,moid,orbit_id,class
0,433 Eros (1898 DQ),1.458046,0.222951,10.830543,178.882294,304.299327,271.071732,1.132973,1.783119,1.760617,10.4,0.148623,656,AMO
1,719 Albert (1911 MT),2.638602,0.546558,11.567485,156.176338,183.866950,140.273422,1.196452,4.080752,4.286167,15.4,0.203482,JPL 214,AMO
2,887 Alinda (1918 DB),2.473737,0.570332,9.393854,350.495585,110.434218,294.579157,1.062886,3.884588,3.890796,13.8,0.082217,223,AMO
3,1036 Ganymed (1924 TD),2.664725,0.533046,26.677643,132.364631,215.546826,4.817745,1.244303,4.085146,4.349974,9.4,0.344956,783,AMO
4,1221 Amor (1932 EA1),1.919498,0.435285,11.876536,26.694797,171.326998,38.522409,1.083970,2.755027,2.659437,17.7,0.107451,83,AMO

In [6]:
df.groupby("class").size()

class
AMO     8267
APO    12308
ATE     1684
ETc        1
HTC       30
IEO       21
JFC       10
JFc      137
dtype: int64